{% extends "layout.html" %}

{% block content %}
<section id="id-home">
  	<div class="container py-3">
		<h3> Learn2Code JavaScript</h3>

		{% for lesson in lessons %}
		<div class="container mb-3">
			<div class="card shadow-sm">
				<div class="card-body d-flex justify-content-between">
					<h5 class="card-title">{{ lesson.display_order }}. {{ lesson.title }}
					</h5>
					<a href="{% url 'learn_detail' lesson.slug %}" class="btn btn-default btn-lg {% if not lesson.is_available %}disabled{% endif %}"> Try Now </a>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
</section>
{% endblock content %}
