{% extends "layout.html" %}

{% block content %}
<section id="id-home">
  	<div class="container py-3">
		<h3> Learn2Code</h3>

		<div class="row">
			{% for lesson in lessons %}
			<div class="col-md-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">{{ lesson.title }}</h5>
						<a href="{% url 'learn_detail' lesson.slug %}" class="btn btn-default"> Try Now </a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</section>
{% endblock content %}
