<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CodeLearn</title>
        <meta name="description" content="">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <!-- Impact Dashboard by Creative Tim https://demos.creative-tim.com/impact-design-system/ -->
        <link rel="stylesheet" href="{{ STATIC_URL }}/css/dashboard.css">
        {% block extra_styles %}{% endblock extra_styles %}
        <style type="text/css">
            .scrollable {
                height: 90vh;
                overflow-y: scroll;
            }
        </style>
    </head>
    <body>
        {% include "nav.html" %}
        <main role="main">
            {% block content %}{% endblock content %} 
        </main>
        {% block extra_scripts %}{% endblock extra_scripts %}
    </body>
</html>
