{% extends "layout.html" %}


{% block extra_styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="{{ STATIC_URL }}/codemirror/addon/lint/lint.css">
<link rel="stylesheet" href="{{ STATIC_URL }}/codemirror/theme/dracula.css">
<style type="text/css">
    .scrollable {
        height: 85vh;
        overflow-y: scroll;
    }
    .CodeMirror {
        height: 85vh;
        font-size: 1.35rem;
    }
    .console {
        background-color: black;
        color: white;
        padding: 1rem;
        height: 85vh;
    }
</style>
{% endblock extra_styles %}


{% block content %}
<section id="id-lesson">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="navbar bg-default p-2">
                    <h3 class="text-light">Instruction</h3>
                </div>
                <div class="container scrollable">
                    {{ lesson.instruction|safe }}
                </div>
            </div>
            <div class="col-md-4 p-0">
                <input type="text" id="id-code-editor" height="1000px" v-model="answerCode">
                <button v-on:click="submitAnswer()" class="btn btn-primary">RUN</button>
            </div>
            <div class="col-md-4 p-0">
                <div class="console">
                    [% answerResult.console %]
                    [% answerCode %]
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block extra_scripts %}
<!-- CodeMirror -->
<script src="{{ STATIC_URL }}codemirror/lib/codemirror.js"></script>
<script src="{{ STATIC_URL }}codemirror/addon/mode/overlay.js"></script>
<script src="{{ STATIC_URL }}codemirror/addon/edit/matchbrackets.js"></script>
<script src="{{ STATIC_URL }}codemirror/addon/edit/matchtags.js"></script>
<script src="{{ STATIC_URL }}codemirror/addon/fold/xml-fold.js"></script>
<script src="{{ STATIC_URL }}codemirror/addon/lint/lint.js"></script>
<script src="{{ STATIC_URL }}codemirror/addon/lint/javascript-lint.js"></script>
<script src="{{ STATIC_URL }}codemirror/addon/lint/json-lint.js"></script>
<script src="{{ STATIC_URL }}codemirror/mode/javascript/javascript.js"></script>
<script src="{{ STATIC_URL }}codemirror/mode/htmlmixed/htmlmixed.js"></script>

<!-- VueJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Scripts -->
<script>  
new Vue({
    el: '#id-lesson',
    delimiters: ['[%', '%]'],
    data () {
        return {
            answerCode: `{{ lesson.initial_code|safe }}`,
            answerResult: {}
        }
    },
    methods: {
        submitAnswer: function() {
            let requestUrl = `{% url 'submit_answer' lesson.slug %}`
            let requestData = {
                'answer_code': this.answerCode
            }
            let config = {
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            }

            axios.post(requestUrl, requestData, config)
            .then((response) => {
                this.answerResult = response.data
            })
            .catch(function (error) {
                console.log(error);
            });
        }
    },
    mounted: function() {
        let textArea = document.getElementById('id-code-editor')
        const codemirror_config = {
            'mode': 'javascript',
            'indentUnit': 4,
            'tabSize': 4,
            'theme': "dracula",
            'lineNumbers': true,
            'matchTags': {'bothTags': true}
        }
        function betterTab(cm) {
            if (cm.somethingSelected()) {
                cm.indentSelection("add");
            } else {
                cm.replaceSelection(cm.getOption("indentWithTabs")? "\t":
                Array(cm.getOption("indentUnit") + 1).join(" "), "end", "+input");
            }
        }
        editor = CodeMirror.fromTextArea(textArea, Object.assign(codemirror_config, {'extraKeys':{'Tab': betterTab}}))
        function selectTheme() {
            editor.setOption("theme", "dracula");
        }
        setTimeout(selectTheme, 5000);
    }
})
</script>
{% endblock extra_scripts %}
